  table {
    width: 100%;
  }
  
  tr.detail-row {
    height: 0;
  }
  
  tr.element-row:not(.expanded-row):hover {
    background: #777;
  }
  
  tr.element-row:not(.expanded-row):active {
    background: #efefef;
  }
  
  .element-row td {
    border-bottom-width: 0;
  }
  
  .element-detail {
    overflow: hidden;
    display: flex;
  }

  
  .element-description {
    padding: 16px;
    width: 100%;
  }
  
  .element-description-attribution {
    opacity: 0.5;
  }

  .team1 {
    width: 49%;
    float: left;
    border-right: 1px dashed;
    border-left: 1px solid;
  }

  .team2 {
    width: 50%;
    float: left;
    border-right: 1px solid;
  }

  #teamName {
    text-align: center;
    padding-bottom: 8%;
  }

  .teamImg {
    width:10%;
    height:10%;
    border-width: 2px;
    border-style: solid;
    display: block;
    margin: 0 auto;
  }

  .playerImg {
    width:125px;
    height:100px;
    border-width: 2px;
    border-style: solid;
  }

  .player-description {
    padding-left: 2%;
    padding-right: 2%;
  }

  .imgDiv {
    width:125px;
    height: 100px;
    padding-left: 10%;
  }

  .player-content {
    width: 30%;
    position: relative;
    bottom: 90px;
    left: 200px;
  }
